autopep8
better-profanity
billiard
blurhash-python
boto
boto3
botocore
celery
certifi
cffi
channels
channels-redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
cryptography
daphne
dj-database-url
Django
django-anymail
django-cleanup
django-cors-headers
django-countries
django-filter
django-graphql-auth
django-graphql-jwt
django-ipware
django-redis
django-storages
django-unused-media
djangorestframework
graphene
graphene-django==3.1.5
graphene-django-extras
graphene-file-upload
graphql-core
graphql-relay
gunicorn
hyperlink
incremental
iniconfig
jmespath
joblib
kombu
llvmlite
msgpack
numba
numpy
opencv-python
packaging
pandas
Pillow
pluggy
profanity-check
promise
prompt-toolkit
psycopg2
psycopg2-binary
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydot
PyJWT
pyOpenSSL
pyparsing
pytest
python-dateutil
python-dotenv
redis
requests
Rx
s3transfer
scikit-learn
scipy
service-identity
singledispatch
six
sqlparse
threadpoolctl
toml
Twisted
universities
urllib3
whitenoise
