better-profanity
blurhash-python
celery
django-celery-results==2.5.1
channels
channels-redis
daphne
dj-database-url
Django==3.2.23
django-anymail
django-cleanup
django-cors-headers
django-countries
django-filter
django-graphql-auth
django-graphql-jwt
graphene-django==3.1.5
graphql-core
django-ipware
django-redis
django-storages[azure]
django-unused-media
graphene
graphene-file-upload
graphql-relay
gunicorn
joblib
numpy
packaging
pandas
Pillow
pluggy
profanity-check
promise
prompt-toolkit
psycopg2
psycopg2-binary
pyparsing
pytest
python-dateutil
python-dotenv
redis
requests
scikit-learn
scipy
service-identity
singledispatch
six
sqlparse
universities
urllib3
whitenoise
python-restcountries==2.0.0
twilio==8.10.2
sentry-sdk==1.36.0